<ul class="nav nav-tabs" id="myTab" role="tablist" >
  <li class="nav-item"  *ngFor="let list of todoService.lists; let index = index ">
    <a class="nav-link " [class.active]="index == 0" id="{{list.id}}-tab" data-toggle="tab" href="#{{list.id}}" role="tab" aria-controls="home"
       aria-selected="true">{{list.name}}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent" >
  <div class="tab-pane fade show "  [class.active]="index == 0" id="{{list.id}}" role="tabpanel"  *ngFor="let list of todoService.lists; let index = index">
    <br/>
    <app-todo-input-box [listId]="list.id"></app-todo-input-box>
    <app-todo-list [listId]="list.id"></app-todo-list>
  </div>

</div>
