<ul style=" list-style-type: none;" id="list-{{listId}}">
  <li class="todo-item" *ngFor="let item of todoService.GetItems(listId)">

<div class="col-md-3 col-sm-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="mark as completed" [checked]="item.completed" (change)="setItemCompletion(listId,item.id, $event.target.checked)">
        </div>
      </div>
      <label [ngClass]="item.completed?'CompletedItem':''" class="form-control todo-item-description">{{item.description}}</label>
      <div class="input-group-append">
        <button  class="form-control remove-item" id="remove-{{item.id}}" (click)="removeItem(listId,item.id)">X</button>
      </div>
    </div>
</div>

    <!--<input type="checkbox"  [checked]="item.completed"-->
           <!--(change)="setItemCompletion(item.id, $event.target.checked)"/>-->


  </li>
</ul>
